<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" [class.hide-navbar]="router.url === '/login'">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Medical Card</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sRegistration" routerLinkActive="active">Student Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/allstudent" routerLinkActive="active">All Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sea" routerLinkActive="active">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Log In</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-danger" type="submit" (click)="onLogout()">Log Out</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
  [class.hide-navbar]="router.url === '/login' || router.url === '/'">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Medical Card</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sRegistration" routerLinkActive="active">Student Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/allstudent" routerLinkActive="active">All Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/simage" routerLinkActive="active">image</a>
        </li>

      </ul>
      <form class="d-flex" #searchForm="ngForm" (ngSubmit)="search()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="studentId"
          name="studentId">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>


      <!-- <form class="d-flex">
          
          <button *ngIf="!isLoggedIn()" class="btn btn-primary" routerLink="/login">Log In</button>
          <button *ngIf="isLoggedIn()" class="btn btn-outline-danger" type="submit" (click)="onLogout()">Log Out</button>
        </form> -->

      <form class="d-flex">
        <button class="btn btn-outline-danger" type="submit" (click)="onLogout()">Log Out</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>