.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-form {
    margin-bottom: 20px;
  }
  
  .detail {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .prescription {
    margin-bottom: 20px;
    background-color: #c1ebe5a8;
  }
  
  .prescription-detail {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .medicine-list {
    padding-left: 20px;
  }
  
  .medicine {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .no-medicine {
    background-color: #ffe5e5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .medicine-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .medicine-table th,
  .medicine-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .medicine-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  .prescription-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .prescription-detail {
    margin-bottom: 10px;
  }
  
  .medicine-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .medicine-table th,
  .medicine-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .medicine-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  





  .add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensure it's above other content */
  }

  .add-button:hover {
    background-color: #0056b3;
  }